<button data-bs-target="#uploadModal" data-bs-toggle="modal" class="mx-3 btn btn-info"><i class="bi bi-plus"></i></button>

<app-upload-modal (emitter)="getdata()" />

<div class="container-fluid d-flex flex-wrap">
  <div *ngFor="let recipe of recipes" class="card m-2">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" routerLink="/recipe/{{recipe.ID}}" >Megnézem</button>
    </div>  
  </div>
</div>
  