<div>
    <div class="container-fluid">
        <h2>{{recipe.title}}</h2>
        <div>
            <p class="text-justify">{{recipe.description}}</p>
        </div>
        <h3>Hozzávalók</h3>
        <div id="ingredients">
            <div class="form-check" *ngFor="let ingredient of recipe.ingredients">
                <input class="form-check-input" type="checkbox" value="" id="_{{ingredient.ID}}">
                <label class="form-check-label" for="flexCheckDefault">
                    {{ingredient.name}} - {{ingredient.amount}}{{ingredient.unit}}
                </label>
            </div>
        </div>
        <h3>Elkészítési mód</h3>
        <div id="makingof">
            <ol>
                <li *ngFor="let step of recipe.makingof.split('\n')">
                    {{step}}
                </li>
            </ol>
        </div>
        <div class="buttons">
            <button class="btn btn-warning" routerLink="/mod/{{recipe.ID}}">Szerkesztés</button>
            <button class="mx-3 btn btn-danger" (click)="delRecipe(recipe.ID)">Törlés</button>
        </div>
    </div>
</div>